{% extends 'home/first_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
<div class="register_doctor" style="width:70%;margin-left: 100px;">
    <div class="doctor-details" style="margin-left:120px;">
        <div class="about-section">
          <h1>Health is Wealth they say! Your ‘Health’ just got ‘Healthier’ with “Tele-A-Doc”! </h1>
          <p>In today’s fast paced world it can be difficult to keep up with your health needs. That’s why we made “Tele-A-Doc”!</p>
          <p><b>Are you a patient requiring good healthcare?</b></p>
          <p>Get quick access to doctors near you with “Tele-A-Doc”! All from the comfort of your home!</p>
          <p><b>Are you a Doctor looking to grow your outreach?</b></p>
          <p>Register now on “Tele-A-Doc” to reach out to prospective patients!</p>
          <p><b>Tele-A-Doc</b> is at your disposal with easy registrations and one-to-one appointment bookings all with just a few clicks! Try it today!</p>
        </div>
    </div>
</div>
<style>
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
p {
    font-size: 16px;
}
b {
    font-size: 22px;
}
</style>
{% endblock %}