{% extends 'home/first_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
{% include "includes/alert.html" %}
<div class="register_doctor" style="background-color: #C9DDF5;width:70%;margin-left: 125px;">
    <div class="doctor-details" style="margin-left:120px;">
        </br></br>
        <h1>Register As Doctor</h1>
        <form action="{{ url_for('create_doctor_save') }}" method="post">
             <label for="doctor_username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="doctor_username" placeholder="Email" id="doctor_username" required>
            </br></br>
            <label for="doctor_password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="doctor_password" placeholder="Password" id="doctor_password" required>
            </br></br>
            <label for="zip">
                <i class="fas fa-flag"></i>
            </label>
            <input type="text" name="zip" placeholder="Zip" id="zip" required>
            </br></br>
            <label for="state">
                <i class="fas fa-map-pin"></i>
            </label>
            <input type="text" name="state" placeholder="State" id="state" required>
            </br></br>
            <div class="create" style="margin-left:80px">
                <input class="create_text" type="submit" value="Register">
            </div>
            </br></br>
            <input type="reset" value="Clear">
            </br></br>
        </form>
    </div>
</div>

<style>
    input {
      width: 400px;
      padding: 20px 32px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .fa, .fas {
        width: 4%;
    }
    input[type="reset"] {
        width: 37%;
        padding: 14px;
        margin-top: 26px;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        color: #090739;
        transition: background-color 0.2s;
        margin-left: 122px;
        margin-right: 120px;
        border: 1px solid #808080;
    }
</style>
{% endblock %}