{% extends 'home/first_layout.html' %}
{% block content%}
{% include "includes/alert.html" %}
    <div class='forgot-password' style="background-color: #C9DDF5">
        <p>
              Please enter the email that you registered with. You will be sent an email that will allow you to reset your password.
        </p>
    
        <form action='{{url_for("patient_forgot_password_save")}}' method='post'>

            <div style="padding:5px;"><input type='text' name='username' placeholder="Email" id="username" required></div>
            <div class="create" style="margin-left:30px">
                <input class="create_text" type="submit" value="Reset Password">
            </div>
            </br></br></br>
            <a style="margin-left:30px" href='{{url_for("home_page")}}'>Back to Home Page</a>
        </form>
    </div>
<style>
    input {
      width: 400px;
      padding: 20px 32px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .fa, .fas {
        width: 4%;
    }
    input[type="reset"] {
        width: 37%;
        padding: 14px;
        margin-top: 26px;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        color: #090739;
        transition: background-color 0.2s;
        margin-left: 122px;
        margin-right: 120px;
        border: 1px solid #808080;
    }
</style>
{% endblock %}